n8n/automated-appointment-scheduling.json
{
  "name": "automated-appointment-scheduling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendamento-clinica",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -96
      ],
      "id": "7c9966d1-2328-41d7-a975-9f4a7e984c99",
      "name": "Receive Appointment Request",
      "webhookId": "3bf8b272-77fc-40a1-895e-802b3ccba6a0"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16gNV8B8WHXWCiHzTdi1FvmmDuF19arr-ARetY1qkNYE",
          "mode": "list",
          "cachedResultName": "Agenda_Clinica_Dentista",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16gNV8B8WHXWCiHzTdi1FvmmDuF19arr-ARetY1qkNYE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16gNV8B8WHXWCiHzTdi1FvmmDuF19arr-ARetY1qkNYE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now}}",
            "nome": "={{ $json[\"body\"][\"nome\"] }}",
            "telefone": "={{ $json[\"body\"][\"telefone\"]}}",
            "motivo": "={{ $json[\"body\"][\"motivo\"]}}",
            "origem": "Typebot",
            "status": "novo",
            "data_desejada": "={{ $json[\"body\"][\"data_desejada\"] }}",
            "hora_desejada": "={{ $json[\"body\"][\"hora_desejada\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_desejada",
              "displayName": "data_desejada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_desejada",
              "displayName": "hora_desejada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -96
      ],
      "id": "586e3813-5fa3-4aeb-b9d9-3d404ca18e3a",
      "name": "Persist Appointment Data (Sheets)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CKKpQPDAwH9csD0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dangolv@gmail.com",
          "mode": "list",
          "cachedResultName": "dangolv@gmail.com"
        },
        "start": "={{ \n  $node[\"Persist Appointment Data (Sheets)\"].json[\"data_desejada\"].split(\"/\").reverse().join(\"-\") \n  + 'T' \n  + $node[\"Persist Appointment Data (Sheets)\"].json[\"hora_desejada\"] \n  + ':00-03:00'\n}}",
        "end": "={{ \n  $node[\"Persist Appointment Data (Sheets)\"].json[\"data_desejada\"].split(\"/\").reverse().join(\"-\") \n  + 'T' \n  + String(Number($node[\"Persist Appointment Data (Sheets)\"].json[\"hora_desejada\"].split(\":\")[0]) + 1).padStart(2, '0')\n  + ':' \n  + $node[\"Persist Appointment Data (Sheets)\"].json[\"hora_desejada\"].split(\":\")[1]\n  + ':00-03:00'\n}}",
        "additionalFields": {
          "summary": "Agendamento Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -80,
        -96
      ],
      "id": "1037dce5-e9ca-4799-bfde-bf2fa3348d64",
      "name": "Store Appointment Data",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JH2tW6DAXxr3tVW1",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Appointment Request": {
      "main": [
        [
          {
            "node": "Persist Appointment Data (Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Appointment Data (Sheets)": {
      "main": [
        [
          {
            "node": "Store Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2920e6ab-ff94-400a-8a4e-6fbe70bd515a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bcbeffbbd0184aade9c36ffed914a167bde8c9543c15bd72d865c4af14d2bad"
  },
  "id": "dJOcd9GdhFZdBIU9",
  "tags": []
}